p {
    font-family: "Roboto Light", sans-serif;
    font-size: large;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.copypaste {
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

.IP {
    font-family: "Courier New", "American Typewriter", serif;
    font-size: xx-large;
    display: inline-block;
}

.copybutton {
    background-color: #9c9c9c;
    box-shadow: black 1px 1px;
    display: inline-block;
}

.theBody {
    background-color: azure;
}
